.toggleapplication {
  font-size: 30px;
  font-weight: 700;
  color: green;
}

.headerdisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
}

.headercontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homelink {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding-left: 40px;
}

.toggle-button{
  margin-top: 20px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  height: 50px;
  width: 80px;
  padding-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 20px;
  bottom: 4px;
  box-sizing: border-box;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: black;
}

input:focus+.slider {
  box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



/* dark theme css */
.darktheme .homelink {
  color: white;
}

.darktheme .headerbackground {
  background-color: hsl(0deg 0% 12.55%);
}


/* light theme css */
.lighttheme .headerbackground {
  background-color: white;

}

.lighttheme .headerdisplay {
  color: black;
}

.lighttheme .box-shadow {
  box-shadow: 2px 4px 14px 2px #00000026;
}

@media(max-width:600px){
  .toggleapplication{
    font-size: 20px;
  }
}