.tasktitle {
    font-size: 22px;
    font-weight: 600;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.user-detail-buttons {
    display: inline-block;
}

.updateuser {
    background-color: blue;
    color: white;
    text-decoration: none;
    width: 100px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteuser {
    background-color: blue;
    color: white;
    text-decoration: none;
    width: 100px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.taskdescription{
    width: 100%;
    overflow-x: hidden;
}

.taskstatus{
    border-radius: 25px;
    background-color: green;
    color:white;
    margin-top: 20px;
    padding: 5px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
